@use "sass:color";
@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 300;
}

p {
    color: v.$negro;
    line-height: 1.8;
}

[class*="__contenedor"] {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

[class*="__titulo"] {
    margin: 2rem 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.4rem;
}

h1, h2 {
    font-weight: 400;
}

h3 {
    font-size: 2.4rem;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}