@use 'variables' as v;
@use 'sass:color';

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin grid( $number, $separacion) {
    display: grid;
    grid-template-columns: repeat($number, 1fr);
    gap: $separacion;
}

@mixin boton ($color, $texto, $decoration) {
    background-color: $color;
    font-size: 2.2rem;
    display: block;
    width: 100%;
    text-align: center;
    color: $texto;
    text-decoration: none;
    border: none;
    margin-top: 2rem;
    padding: 2rem 4rem;
    text-transform: $decoration;
    font-weight: 700;
    transition: 0.3s background-color;

    &:hover {
        cursor: pointer;
        background-color: color.mix(#000, $color, 10%);
    }
}

@mixin hide {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    display: block;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@mixin titulo {
    content: "";
    display: block;
    width: 100%;
    height: 4rem;
    background-image: url('../img/separador.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 3rem;
}

