//fuentes
$fuente_principal: "Roboto", sans-serif;

//media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//colores
$primario: #f46669;
$secundario: #c7c57d;
$negro: #000;
$blanco: #FFF;
$gris: #f5f5f5;

//unidades
$separacion: 5rem;