@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.footer {
    padding: 3rem 0;
    border-bottom: 0.5rem solid v.$primario;
    
    &__contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &-menu {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            @include m.tablet {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &__element {
            color: v.$negro;
            font-size: 2.4rem;
            transition: 0.3s all;

            &:hover {
                color: v.$primario;
            }
        }
    }

    &__p {
        font-size: 2.4rem;
        text-align: center;
        @include m.tablet {
            margin: 0;
        }
    }
}