@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.clases {
    padding: 5rem 0;
    background-color: v.$gris;

    &__titulo {
        text-align: center;
        text-transform: capitalize;
        &:after {
            @include m.titulo; 
        }
    }

    &__grid {
        margin-top: 5rem;
        @include m.grid(1, 3rem);

        @include m.tablet {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

        @include m.desktop {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.clases-card {
    border: 1px solid #dcdcdc;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__info {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__head {
        background-color: v.$primario;
        padding: 1.5rem 1rem;
        display: flex;
        justify-content: space-between;
        
        p {
            margin: 0;
        }
    }

    &__fecha {
        color: v.$blanco;
    }

    &__precio {
        background-color: v.$secundario;
        padding: 0.5rem;
        border-radius: 30%;
        font-size: 1.2rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__main {
        padding: 2rem;
        background-color: v.$blanco;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        font-weight: 300;
        margin: 0;
    }

    &__p {
        &--rojo {
            color: v.$primario;
        }
    }

    &__btn {
        @include m.boton(v.$primario, v.$blanco, capitalize);
        padding: 1rem 0;
        font-size: 1.6rem;
        margin-top: auto;
    }
}